.site-header{
    background-color: #1bbc9b;
    color: #f7eded;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}

.profile-pic{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
    box-shadow: #0a8269 2px 5px 5px;
}
.link-color{
    color: #f7eded;
}

body{
    margin: 0;
}